{% extends 'KendoctorNodeBundle::admin.layout.html.twig' %}

{% block sidebar %}
   <div id="sidebar">
   
   </div>
{% endblock %}
    
{% block body %}
 
<div id="main_body">

</div>       
       

{% endblock %}


















