{% extends 'KendoctorNodeBundle::layout.html.twig' %}


{% block body %}


<div id="mainBanner">
    <div id="mainBannerContent" class="mainBannerContent_en">
    <img id="gaby" width="893" height="179" style="top: 10px; position: relative; z-index: 10;" src="{{ asset("images/gaby.png") }}">
        <h2 class="banner" style="margin-top: -150px; font-size: 24px; margin-left: 120px;"> 追求高效率开发，高质量代码，高品质服务</h2>
    </div>
</div>

<div id="homeApps"></div>
<div id="homePlans" class="clearfix">
    <div id="homePlansContent">
        <ul>
            <li class="planpane">
                <h1 class="page">核心服务</h3>
                <div class="flag"></div>
                <ul class="planlist">
                    <li><a href="{{ path("page_show", {id:2}) }}">SEO 企业营销策划</a></li>
                    <li>WEB应用定制开发</li>
                    <li>移动终端应用开发</li>
                </ul>
            </li>
            <li class="planpane">
                <h1 class="page">核心开发架构</h3>
                <div class="flag"></div>
                <ul class="planlist">
                    <li>PHP SYMFONY</li>
                    <li>.NET MVC</li>
                    <li>JAVA SPRING MVC</li>
                </ul>
            </li>
            <li class="planpane">
                <h1 class="page">开发流程</h3>
                <div class="flag"></div>
                <p>
                了解客户需求概况
                    评估开发大致成本
                    符合客户初步预算
                    深入了解客户需求
                    。。。。。。
                </p>
            </li>
        </ul> 
    </div>
</div>

{% endblock %}


















